# TP1

## Repositorios de información

## Ejercicio 1

- Descomprimir el archivo clima.tgz de la carpeta data
- Convertir cada archivo a Dataframe y mostrarlo en pantalla

In [4]:
import tarfile
from os import listdir

folder_name = "carpeta"

objetoTar = tarfile.open("data/clima.tgz", "r")
# Extraer todo el contenido en la carpeta
base_directory = f"data/{folder_name}/
objetoTar.extractall(base_directory)
# Cerrar lectura
objetoTar.close()
file_names = listdir(base_directory)
for name in file_names:
    df = pd.read_csv(f"{base_directory}{name}")
    display(df)

SyntaxError: invalid syntax (<ipython-input-4-9115d4c6a441>, line 5)

## Ejercicio 2

- Obtener de la API de <a href="https://wikimedia.org/api/rest_v1/#/Pageviews%20data">Wikimedia </a> la cantidad de visitas en este año a la página Albert Einstein por día.
- Mostrar el Dataframe obtenido por pantalla

In [14]:
import requests
import pandas as pd
url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/es.wikipedia.org/all-access/all-agents/Albert_Einstein/daily/20210101/20211230"
respuesta = requests.get(url, headers={'user-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:65.0) Gecko/20100101 Firefox/91.0'})
data = respuesta.json()                       
df = pd.DataFrame(data["items"])
df

,project,article,granularity,timestamp,access,agent,views
0,es.wikipedia,Albert_Einstein,daily,2021010100,all-access,all-agents,2345
1,es.wikipedia,Albert_Einstein,daily,2021010200,all-access,all-agents,2928
2,es.wikipedia,Albert_Einstein,daily,2021010300,all-access,all-agents,3513
3,es.wikipedia,Albert_Einstein,daily,2021010400,all-access,all-agents,3756
4,es.wikipedia,Albert_Einstein,daily,2021010500,all-access,all-agents,3304
...,...,...,...,...,...,...,...
235,es.wikipedia,Albert_Einstein,daily,2021082400,all-access,all-agents,4228
236,es.wikipedia,Albert_Einstein,daily,2021082500,all-access,all-agents,4460
237,es.wikipedia,Albert_Einstein,daily,2021082600,all-access,all-agents,4551
238,es.wikipedia,Albert_Einstein,daily,2021082700,all-access,all-agents,4031
239,es.wikipedia,Albert_Einstein,daily,2021082800,all-access,all-agents,3369

In [ ]:
Ejercicio 3

- Crear una base de datos MySQL
- Crear una tabla que contenga nombre, apellido y teléfono
- Obtener de la base de datos la lista de personas ordenada por apellido de forma descendente
- Mostrar el Dataframe resultante por pantalla

## Ejercicio 4

- Obtener de la API <a href="https://date.nager.at/swagger/index.html">Nager.Date</a> las fiestas nacionales argentinas para el 2021
- Mostrar el dataframe resultante por pantalla

In [17]:
import requests
import pandas as pd
url = "https://date.nager.at/api/v3/PublicHolidays/2021/AR"
respuesta = requests.get(url, headers={'user-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:65.0) Gecko/20100101 Firefox/91.0'})
data = respuesta.json()                       
df = pd.DataFrame(data)
df

,date,localName,name,countryCode,fixed,global,counties,launchYear,types
0,2021-01-01,Año Nuevo,New Year's Day,AR,True,True,None,NaN,[Public]
1,2021-02-15,Carnaval,Carnival,AR,False,True,None,NaN,[Public]
2,2021-02-16,Carnaval,Carnival,AR,False,True,None,NaN,[Public]
3,2021-03-24,Día Nacional de la Memoria por la Verdad y la ...,Day of Remembrance for Truth and Justice,AR,True,True,None,NaN,[Public]
4,2021-04-02,Día del Veterano y de los Caídos en la Guerra ...,Day of the Veterans and Fallen of the Malvinas...,AR,True,True,None,NaN,[Public]
5,2021-04-02,Viernes Santo,Good Friday,AR,False,True,None,NaN,[Public]
6,2021-05-01,Día del Trabajador,Labour Day,AR,True,True,None,NaN,[Public]
7,2021-05-25,Día de la Revolución de Mayo,May Revolution,AR,True,True,None,NaN,[Public]
8,2021-06-17,Paso a la Inmortalidad del General Martín Migu...,Anniversary of the Passing of General Martín M...,AR,True,True,None,2016.0,[Public]
9,2021-06-20,Paso a la Inmortalidad del General Manuel Belg...,General Manuel Belgrano Memorial Day,AR,True,True,None,NaN,[Public]
10,2021-07-09,Día de la Independencia,Independence Day,AR,True,True,None,NaN,[Public]
11,2021-08-16,Paso a la Inmortalidad del General José de San...,General José de San Martín Memorial Day,AR,False,True,None,NaN,[Public]
12,2021-10-11,Día del Respeto a la Diversidad Cultural,Day of Respect for Cultural Diversity,AR,False,True,None,NaN,[Public]
13,2021-11-20,Día de la Soberanía Nacional,National Sovereignty Day,AR,True,True,None,NaN,[Public]
14,2021-12-08,Día de la Inmaculada Concepción de María,Immaculate Conception Day,AR,True,True,None,NaN,[Public]
15,2021-12-25,Navidad,Christmas Day,AR,True,True,None,NaN,[Public]

## Ejercicio 5

- Obtener una tabla informativa de una página a elección con Web Scrapping
- Mostrar el Dataframe resultante por pantalla

In [18]:
import requests
import pandas as pd
url = "https://www.tycsports.com/liga-profesional-de-futbol/liga-profesional-fecha-9-argentina-fixture-resultados-goles-posiciones-id368337.html"
tables = pd.read_html(url, header=0, index_col=0)
tables[1]

     Unnamed: 1           Equipo  PJ  PTS  Promedio
Pos
1           NaN      River Plate  44   82     1.864
2           NaN     Boca Juniors  45   83     1.844
3           NaN      Racing Club  45   78     1.733
4           NaN            Vélez  45   77     1.711
5           NaN       Argentinos  45   73     1.622
6           NaN         Talleres  45   73     1.622
7           NaN            Lanús  45   71     1.578
8           NaN    Independiente  46   70     1.522
9           NaN      Estudiantes  45   68     1.511
10          NaN      San Lorenzo  45   68     1.511
11          NaN          Defensa  45   62     1.378
12          NaN  Rosario Central  45   61     1.356
13          NaN         Newell`s  45   60     1.333
14          NaN     Atl. Tucumán  44   58     1.318
15          NaN            Colón  46   60     1.304
16          NaN            Unión  45   56     1.244
17          NaN         Banfield  46   55     1.196
18          NaN          Arsenal  45   52     1.156
19          NaN   C.Córdoba (SE)  45   50     1.111
20          NaN         Gimnasia  46   49     1.065
21          NaN        Sarmiento  21   22     1.048
22          NaN         Platense  22   23     1.045
23          NaN        Patronato  45   47     1.044
24          NaN         Aldosivi  45   46     1.022
25          NaN          Huracán  46   44     0.957
26          NaN       Godoy Cruz  45   43     0.956